@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* typography */
body{
    @apply text-base
  }
  h1{
    @apply text-lg md:text-3xl
  }
  h2{
    @apply text-sm md:text-xl
  }
  h3{
    @apply text-sm md:text-lg
  }
  h4{
    @apply text-sm md:text-md
  }
  h5{
    @apply text-sm md:text-md
  }
  small{
    @apply text-xs md:text-sm
  }

/* tooltip */

:root {
    --popper-theme-background-color: #4A3FCA;
    --popper-theme-background-color-hover: #251F70;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 5px 10px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

.main-input{
    @apply m-auto py-2 pr-7 pl-2 md:px-20 md:pl-6  text-blue-500 shadow-md focus:shadow-lg border-main focus:outline-none focus:ring-2 border-2 dark:border-accent
    focus:ring-secondary-light dark:focus:ring-accent-light focus:border-main focus:border-2 dark:bg-gray-900 caret-blue-400 transition-all duration-300
}

.field-box-table tr{
  @apply border border-b-gray-200 dark:border-b-gray-600 border-l-0 border-r-0 border-t-0
}

.field-box-table tr td:first-child{
    @apply  border-0 bg-gray-100 dark:bg-gray-800
}

.field-box-table{
    @apply border-0
}

.field-box-table tr td{
    @apply p-1
}

.modal-content{
    @apply dark:!bg-gray-700 !bg-gray-200 !border-0
}

summary {
    @apply text-accent
}

*{
    scroll-behavior: smooth;
}

.table-main tr:nth-child(odd){
    @apply !bg-gray-300/10 dark:!bg-gray-200/10
}

.table-main tr:hover{
    @apply !bg-gray-300/20 dark:!bg-gray-200/20
}

mark{
    background-color: transparent !important;
    color: red;
}

h1,h2,h3,h4,h5,p{
    font-family: 'Inter', sans-serif;
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight{
    @apply bg-none text-red-500
}

.darkMode-btn-light{
    box-shadow: 0px 0px 0px rgb(255, 180, 68);
    animation:  l-glow 1s linear;
}

.darkMode-btn-dark{
    box-shadow: 0px 0px 0px rgb(68, 233, 255);
    animation:  d-glow 1s linear;
}

@keyframes l-glow {
    0%{
        box-shadow: 0px 0px 10px rgb(255, 180, 68);
    }
    100%{
        box-shadow: 0px 0px 0px rgb(255, 180, 68);
    }
}

@keyframes d-glow {
    0%{
        box-shadow: 0px 0px 10px rgb(68, 233, 255);
    }
    100%{
        box-shadow: 0px 0px 0px rgb(68, 233, 255);
    }
}

.banner-clip{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 4% 50%);
}

.modal-content{
    overflow: scroll;
}

.icon-btn{
    width: 24px;
    height: 24px;
    margin: 3px;
    @apply flex items-center justify-center rounded-full p-5
}

.btn-main{
    @apply border-4 font-bold border-main dark:border-accent bg-white dark:bg-black hover:bg-main 
    text-main dark:text-accent-light hover:text-white focus:outline-none rounded-full py-2 px-3 dark:hover:bg-accent dark:hover:text-white
}

.darkMode{
    @apply dark:bg-gray-800 dark:text-gray-300
}

.route-active{
    @apply text-main-dark font-bold dark:text-white
}

a{
    color: rgb(54, 116, 231);
}

a:hover{
    color: rgb(71, 132, 247);
}

a{
    @apply dark:text-blue-300
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


