@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tooltip */

:root {
    --popper-theme-background-color: #4A3FCA;
    --popper-theme-background-color-hover: #251F70;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 5px 10px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

*{
    scroll-behavior: smooth;
}

mark{
    background-color: none !important;
    color: red;
}

h1,h2,h3,h4,h5,p{
    font-family: 'Inter', sans-serif;
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight{
    @apply bg-none text-red-500
}

.icon-btn{
    width: 24px;
    height: 24px;
    padding: 14px;
    margin: 3px;
    @apply flex items-center justify-center rounded-full
}

.btn-main{
    @apply bg-tertiary hover:bg-tertiary-light text-main hover:text-secondary-light focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 rounded-full py-2 px-3
}

.dm{
    @apply dark:bg-gray-800 dark:text-gray-300
}

.route-active{
    @apply text-tertiary-light font-bold dark:text-white
}

a{
    color: rgb(54, 116, 231);
}

a:hover{
    color: rgb(71, 132, 247);
}

a{
    @apply dark:text-blue-300
}


